/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('webfonts/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfonts/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('webfonts/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('webfonts/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('webfonts/montserrat-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('webfonts/montserrat-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfonts/montserrat-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/montserrat-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('webfonts/montserrat-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('webfonts/montserrat-v10-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

.dlslot-check-status-results ~ .dlslot-check-status-form {
   display:none !important;
}

body {
	background-color:#e6e6e6;
}

.entry-content {
	min-height: 200px;
}

.blank-page .entry-content {
	min-height: initial;
}

.alignright {
    float: right;
    margin-left: 1.6em;
    margin-bottom: 1.6em;
}

.alignleft {
    float: left;
    margin-right: 1.6em;
    margin-bottom: 1.6em;
}

/* Header Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-container {
	background:url(../images/header-bg.png) top left #cecece;
	border-bottom:8px solid #222222;
}

.header-container-2 {
	background:  #FFFFFF;
 	text-align:left;
}

.header-container-2 .container {
	width:100%;
}

.logo {
	margin-top:34px;
	margin-bottom:32px;
}

.lottery-status {
	background:url(../images/lottery-status-bg.png) top left #d64860 no-repeat;
	color:#fff;
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:13px;
	padding:8px;
    padding-left:65px;
	padding-right:20px;
	margin-top:40px;
	float:right;
	min-width:168px;
}

.lottery-status:hover {
	color:#fff;
	background:url(../images/lottery-status-bg-roll.png) top left #0148a9 no-repeat;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

/* Set fixed minimum width for the page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header-container, .header-container .container, .main-container .container, .footer-container .container, .main-container, .header-container-2 {
	min-width:980px;
}

.container {
    padding: 0 10px;
}


/* Button Defaults
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff !important;
	background-color: #1a69cb;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	border: 0;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	color: #fff;
	background-color: #014096;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.button-alt {
	background-color: #d64860;
}

.button-alt:hover {
	color: #fff;
	background-color: #014096;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.button-disabled,
.button-disabled:hover {
	background-color: #ccc;
	cursor: default;
}

div#lottery-results.dlslot-check-status-results .button-disabled, .button-disabled:hover {
    white-space: initial !important;
	vertical-align: middle;
}

/* Enter Lottery Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dlslot-entry-form .dlslot-field-name_first {
	margin-top: 0;
}

.dlslot-bullet-points LI:before {
	color: #d64860;
}

/* Collapsible content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#accordion { text-align: center; }
.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content p { text-align:left; }
.accordion-content.default {display: block;}

#accordion2 { }
.accordion2-toggle {cursor: pointer;}
.accordion2-content {display: none;}
.accordion2-content.default {display: block;}

.accordion-toggle::before, .accordion2-toggle::before {
    content:"+  ";
	color:#2169c2;
}
.accordion-toggle.open::before, .accordion2-toggle.open::before {
    content:"-  ";
	color:#2169c2;
}

h2.accordion-toggle {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
	margin:0;
}

/* Blank Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.blank-page .main-container {
    margin: 0;
    padding: 20px 0;
}

.blank-page H1.entry-title {
    font-size: 1.2em;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.blank-page .entry-content P:last-child {
    margin-bottom: 0;
}

/* Homepage Lotteries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.lottery-hd {
	display: block;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    color: #323232;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lottery-hd img {
    vertical-align: middle;
    /* margin: 9px 0; */
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 2px;
    width: 33px;
}

.lottery-hd a {
	color: black;
}

.lottery-hd-show-bg {
	display:block;
	border-bottom:0 solid #cccccc;
	font-size:32px;
	font-weight:bold;
	text-transform:uppercase;
	vertical-align:middle;
	color:#fff;
	margin-bottom:0;
}

.lottery-hd-show-bg img {
	vertical-align:middle;
	margin:9px 0;
} 

.main-container {
	background:url(../images/main-gradient-bg.png) bottom center repeat-x #fff;
}

.show-bg {
	padding-top: 20px;
}

.blank-page,
.blank-page .main-container {
	background: none #fcfcfc;
}

.show-thumb {
	line-height:0;
	display: block;
    border: 1px solid #dfdfdf;
    border-bottom: none;
    padding-top: 9px;
}

.show-thumb img,
.show-thumb .dlslot-empty-image {
    margin: 0px auto;
    display: block;
	background: #e9e9e9;
}

.show-thumb.hide-for-desktop .dlslot-empty-image {
    width: 100% !important;
}

.show-thumb.hide-for-mobile .dlslot-empty-image {
    max-width: 274px;
}

.show-container {
	background:#fff;
	border:1px solid #dddddd;
	border-top:0;
	text-align:center;
	color:#333333;
	font-size:16px;
	line-height:normal;
	padding:9px;
}

.show-title {
	padding-bottom:22px;
	padding-top:13px;
	display:block;
	border-bottom:1px solid #dddddd;
}

.show-title a:link, .show-title a:visited {
	color:#1463c5;
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
}

.show-pricing {
	display:block;
	padding-bottom:13px;
	padding-top:18px;
	border-top:4px solid #f8f8f8;
}

.show-pricing span {
	color:#27ae60;
	font-size:20px;
}

.show-button {
	background:url(../images/show-button-bg.png) 100% 50% repeat-x #fff;
	border:1px solid #dddddd;
	border-top:0;
	padding:9px;
	margin-bottom:26px;
}

.show-button a:link, .show-button a:visited {
	background:url(../images/show-button-blue-bg.png) top right no-repeat #144c94;
	color:#fff;
	text-decoration:none;
	display:block;
	padding:8px 20px;
	font-size:20px;
}

.show-button a:hover {
	background:url(../images/show-button-blue-bg-roll.png) top right no-repeat #144c94;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.show-button-inactive {
	background:url(../images/show-button-bg.png) top center repeat-x #fff;
	border:1px solid #dddddd;
	border-top:0;
	padding:9px;
	margin-bottom:26px;
}

.show-button-inactive a:link, .show-button-inactive a:visited {
	background:url(../images/show-button-grey-bg.png) top right no-repeat #144c94;
	color:#828282;
	text-decoration:none;
	display:block;
	padding:3px 20px;
	font-size:20px;
	line-height:normal;
}

.show-button-inactive a:hover {
	background:url(../images/show-button-grey-bg-roll.png) top right no-repeat #144c94;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.show-button-inactive span {
	display:block;
	font-size:14px;
	color:#646464;
}

.check-back {
	color:#828282 !important;
	font-size:14px !important;
}



/* Footer Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer-container {
	background-color:#e6e6e6;
	padding:26px 0;
	margin-top:26px;
}

.footer-links {
	color:#cecece;
	margin:0;
	padding:0;
	list-style:none;
}

.footer-links li {
	padding-left: 18px;
	background-image: url(../images/footer-bullet.png);
	background-repeat: no-repeat;
	background-position: 0 .5em;
	margin:0;
}

.footer-links li a {
	color:#7d7d7d;
	text-decoration:none;
	font-size:13px;
	text-transform:uppercase;
}

.footer-links li a:hover {
	color:#0148a9;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.footer-center {
	text-align:center;
}

.footer-center span {
	color:#434346;
	font-size:13.5px;
	display:block;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:10px;
}

.footer-center span img {
	vertical-align:middle;
}

.newsletter-signup-button {
	background-color:#0148a9;
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
	padding:6px 14px;
	display:inline-block;
}

.newsletter-signup-button:hover {
	color:#fff;
	background-color:#014096;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.footer-right {
	text-align:right;
	color:#838383;
	text-transform:uppercase;
	font-weight:normal;
	font-size:13px;
}

.footer-right span {
	display:block;
}

.footer-right img {
	max-width:187px;
	width:100%;
}

.social-links {
	list-style:none;
	overflow:hidden;
	margin:0;
	font-size:16px;
}

.social-links li {
	display:inline-block;
	text-align:right;
}

.social-links li a {
	text-decoration:none;
	color:#a7a7a8;
	padding:4px 6px;
}

.social-links li:last-child a {
	padding-right:0;
}

.social-links li a:hover {
	color:#0148a9;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}


/* Lottery Status Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dlslot-scode-check-lottery-status h2 {
	color:#0e0e0e;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
}

.dlslot-scode-check-lottery-status label {
	color:#0e0e0e;
	text-transform:uppercase;
	font-size:12px;
	padding:9px 20px;
	padding-top:10px;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
	background-color:#f8f8f8;
	text-align:center;
	border-right:1px solid #dfdfdf;
	float:left;
	margin-bottom:0;
}

.dlslot-scode-check-lottery-status input {
	font-size:12px;
	border:0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin:0;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.dlslot-scode-check-lottery-status .dlslot-field {
	display:block;
	background-color:#fff;
	border:1px solid #dfdfdf;
	width:100%;
	position:relative;
	margin-bottom: 15px;
}

.dlslot-scode-check-lottery-status .dlslot-field-dob {
	display:block;
	background-color: transparent;
	border:0 solid #dfdfdf;
	width:100%;
	position:relative;
	margin-bottom: 15px;
}

.dlslot-scode-check-lottery-status .dlslot-field-dob label {
	color:#0e0e0e;
	text-transform:uppercase;
	font-size:12px;
	padding:9px 15px;
	padding-top:10px;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
	background-color:#f8f8f8;
	text-align:center;
	border:1px solid #dfdfdf;
	float:left;
}

.dlslot-scode-check-lottery-status .dlslot-field-dob-month {
	font-size:12px;
	border:0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin:0;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
	border-top:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	text-align:center;
	width:44px;
	height:40px;
}

#dlslot_dob_month:focus {
    color: #0e0e0e;
    border-right: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.dlslot-scode-check-lottery-status .dlslot-field-dob-day, .dlslot-scode-check-lottery-status .dlslot-field-dob-year {
	font-size:12px;
	border:0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin:0;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
	border:1px solid #dfdfdf;
	text-align:center;
	width:48px;
	height:40px;
}

#dlslot_dob_day:focus, #dlslot_dob_year:focus {
    color: #0e0e0e;
    border: 1px solid #dfdfdf;
}

.enter-lottery LABEL.error,
.dlslot-scode-check-lottery-status .dlslot-field-dob LABEL.error,
LABEL.error {
	display: block;
    border: 1px solid #e4a5a0;
    background-color: #ffcfcf;
    overflow: hidden;
	color:#ab1c22;
}

.LABEL.error, label#dob-error {
	white-space:inherit !important;
}

.dlslot-scode-check-lottery-status .did-i-win {
	display:block;
	margin:0 auto;
	text-align:center;
}

.dlslot-scode-check-lottery-status .did-i-win INPUT[type="submit"] {
	background:url(../images/did-win.png) top left no-repeat #2ecc71;
	color:#fff;
	text-transform:uppercase;
	font-size:13px;
	line-height: 38px;
	padding-left:72px;
	padding-top:4px;
	padding-bottom:12px;
	padding-right:12px;
	display:inline-block;
	margin:0 auto;
	text-decoration:none;
	width:auto;
	float:none;
	height: 46px;
}

.dlslot-scode-check-lottery-status .did-i-win INPUT[type="submit"]:hover {
	color:#fff;
	background:url(../images/did-win-roll.png) top left no-repeat #0148a9;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

/* Lottery Status Details Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.check-lottery-status-details {
	display:block;
	background-color:#fff;
	border:1px solid #dddddd;
	border-top:4px solid #f8f8f8;
	padding:20px;
}

.check-lottery-status-details h2 {
	color:#0e0e0e;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
}

.lottery-status-hd {
	font-size:14px;
	font-weight:bold;
	color:#a5a5a5;
	text-transform:uppercase;
	border-bottom:1px solid #dddddd;
	padding-bottom:10px;
}

.lottery-status-row, .lottery-status-row-grey {
	padding:10px 0;
	border-bottom:1px solid #ebebeb;
	color:#0e0e0e;
	font-size:15px;
	font-weight:400;
}

.lottery-status-row a, .lottery-status-row-grey a {
	color:#0e0e0e;
	text-decoration:none;
}

.lottery-status-row a:hover, .lottery-status-row-grey a:hover {
	color:#1463c5;
}

.lottery-status-row-grey {
	background:url(../images/grey-row.png) top center repeat-y;
}

.lottery-status-row span {
	font-weight:bold;
	color:#27ae60;
}

.pay-won-ticket {
	font-size:12px;
	text-transform:uppercase;
	color:#fff !important;
	background-color:#1a69cb;
	text-decoration:none;
	white-space: nowrap;
	padding:4px 8px;
	float:right;
	overflow:hidden;
}

.pay-won-ticket:hover {
	color:#fff;
	background-color:#014096;
}
.show-for-tablets .lottery-table td:last-child {
    text-align: right;
}

/* Payment Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dlslot-payment-errors .dlsntc-notice {
	margin-top: 0;
}

.dlslot-payment-form FIELDSET {
	margin-bottom: 0;
}


/* Show Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.show-page-header {
	display:block;
	margin:0;
}

.show-page-header img {
	width:100%;
	display:block;
}

.show-page-header-mobile {
	display:block;
	margin:0;
	margin-bottom:20px;
}

.show-page-header-mobile img {
	width:100%;
	display:block;
}

.show-page-detail {
	display:block;
	background-color:#fcfcfc;
	color:#0e0e0e;
	padding:20px;
	border:1px solid #dddddd;
	border-top:0;
	font-size:14px;
}

.show-page-detail h1, .venue-information h2, .about-show h2 {
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
}

.show-page-detail p {
	margin-bottom:18px;
}

.show-page-detail p:last-child {
	margin-bottom:0;
}

.show-question {
	display:block;
}

.venue-information {
	border-bottom:1px solid #dddddd;
	padding-bottom:20px;
	display:block;
}

.venue-information h2 {
	margin-bottom:0;
}

.read-more {
	text-transform:uppercase;
	font-weight:bold;
	color:#2169c2;
	font-size:14px;
	text-decoration:none;
	display:block;
}

.map-it {
	background:url(../images/mapit.png) top left no-repeat;
	padding-left:30px;
	padding-top:2px;
	padding-bottom:2px;
	text-transform:uppercase;
	font-weight:bold;
	color:#2169c2;
	font-size:14px;
	text-decoration:none;
	display:block;
	margin-top:10px;
}

.map-it:hover {
	background:url(../images/mapit-roll.png) top left no-repeat;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	color:#2169c2;
}

.about-show {
	display:block;
	border-top:4px solid #f5f5f5;
	padding-top:20px;
	line-height: 1.5em;
}

.about-show a {
	font-weight:bold;
	text-decoration:none;
	color:#2169c2;
}

.about-show a:hover {
	color:#3377cb;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.about-show p {
	margin-bottom:0;
}

.lotteries {
	display:block;
	padding:20px;
	padding-bottom:0;
	background-color:#fff;
	border:1px solid #dddddd;
	border-top:0;
	border-top:4px solid #f5f5f5;
	overflow:hidden;
}

.lotteries h2 {
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
}

.lotteries h2 .lottery-notice {
    font-size: 10px;
    font-weight: normal;
    color: #565656;
}

.lotteries-hd {
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	color:#a5a5a5;
	border-bottom:1px solid #dddddd;
	padding-bottom:10px;
}

.lotteries-center-hd {
	text-align:center;
}

.lotteries-status {
	padding-top:12px;
}

.lotteries-center {
	text-align:center;
	padding-top:12px;
}

.lotteries-right {
	text-align:right;
}

.lotteries-right span {
	display:block;
	font-size:12px;
}

.lotteries-right span a {
	color:#1463c5;
	text-decoration:none;
}

.lotteries-row {
	padding:10px 0;
	border-bottom:1px solid #ebebeb;
	font-size:14px;
	height:46px;
}

.lotteries-row:last-child {
	border-bottom:0;
}

.grey-row {
	background:url(../images/grey-row.png) top center repeat-y;
}

.lotteries-time {
	white-space:nowrap;
	padding-top:12px;
}

.closed {
	font-weight:bold;
	color:#d64860;
}

.active {
	font-weight:bold;
	color:#27ae60;
}

.closed-button {
	background-color:#d84a62;
	color:#fff;
	text-decoration:none;
	font-size:12px;
	padding:5px 0;
	width:126px;
	text-align:center;
	display:inline-block;
}

.closed-button:hover {
	color:#fff;
}

.enter-button  {
	background-color:#1564c6;
	color:#fff;
	text-decoration:none;
	font-size:12px;
	padding:5px 0;
	width:126px;
	text-align:center;
	display:inline-block;
	margin-top: 8px;
}

.upcoming-button {
	background-color:#a5a5a5;
	color:#fff;
	text-decoration:none;
	font-size:12px;
	padding:5px 0;
	width:126px;
	text-align:center;
	display:inline-block;
	margin-top: 8px;
}

.enter-button:hover  {
	color:#fff;
	background-color:#014096;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.enter-button:hover  {
	color:#fff;
	background-color:#014096;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.upcoming-button span {
	display:inline;
}

.enter-button span {
	display:inline;
}

.price {
	color:#27ae60;
	font-weight:bold;
}

.disclaimer {
	display:block;
	background-color:#fcfcfc;
	color:#0e0e0e;
	padding:20px;
	margin-bottom: 20px;
	border:1px solid #dddddd;
	border-top:4px solid #f5f5f5;
	font-size:14px;
}

.disclaimer h2 {
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
}

.disclaimer p {
    margin-bottom: 0;
    font-size: .8em;
}

.post-edit-link {
	color: #fff;
    text-decoration: none;
    background-color: #d64860;
    padding: 4px 10px;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
}

.post-edit-link:hover {
	color:#fff;
	background-color:#014096;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.dlslot-scode-check-lottery-status .entry-header {
	background-color: #fcfcfc;
	padding: 25px 25px 0;
}


a.dlslot-disabled {
	pointer-events: none;
	cursor: default;
}


.hide-for-desktop { display:none; }
.show-for-desktop { display:block; }

@media all and (max-width: 675px) {
	.show-for-tablets { display:block; }
	.hide-for-tablets { display:none; }
	.enter-button span { display:none; }
	.upcoming-button span { display:none; }
	.show-bg { padding-top: 0px; }
}

@media (min-width: 676px){
	.lotteries h2 .lottery-notice {
	    margin-left: .6em;
	}
}


/* Check Lottery Status
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dlslot-scode-check-lottery-status .entry-header {
	background-color: #fcfcfc;
	padding: 25px 25px 0;
}

.dlslot-scode-check-lottery-status {
	border: 1px solid #e2e2e2;
}

.dlslot-scode-check-lottery-status .entry-header {
	background-color: #fcfcfc;
	padding: 25px 25px 0;
}

.dlslot-scode-check-lottery-status .entry-header H1.entry-title {
	font-size: 2rem;
	margin-bottom: 0;
}

.dlslot-scode-check-lottery-status H3 {
	font-size: 2rem;
}

.dlslot-scode-check-lottery-status H3 {
	font-size: 1.8rem;
	text-transform: uppercase;
}

.dlslot-check-status-form,
.dlslot-check-status-results {
	padding: 25px;
}

.dlslot-check-status-form {
	background-color: #fcfcfc;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 0;
}

.dlslot-check-status-results {
	background-color: #fff;
	border-top: 4px solid #f8f8f8;
}

.dlslot-check-status-results TABLE {
	margin-bottom: 0;
	width: 100%;
}

.dlslot-check-status-results TABLE THEAD TH {
	color: #a5a5a5;
	text-transform: uppercase;
}

.dlslot-check-status-results TABLE TR TD.dlslot-buttons {
	text-align: right;
}

.dlslot-check-status-results .dlslot-winner {
	color: #27ae60;
	text-transform: uppercase;
}

/* FAQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#faq {
    display: block;
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 20px;
}

#faq h2 {
	color: #0e0e0e;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#faq H3 {
	color: #757c7e;
	margin-bottom: 18px;

	display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-top: 4px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 10px 0px;
    background-color: #fcfcfc;
}

#faq a {
	text-decoration:none;
	color:#1a69cb;
}

#faq a:hover {
	text-decoration:none;
	color:#014096;
}

#faq .page-content,
#faq .faq-menu,
#faq .faq-details {
	margin:0px;
}

#faq .faq-menu {
	margin-top: 2em;
	margin-bottom: 2em;
}

#faq .faq-menu DT,
#faq .faq-details DT {
	font-weight: bold;
}

#faq .faq-menu DD {
	margin-left: 0;
	padding-left: 0;
}

#faq .faq-menu .accordion H4 {
	background: transparent url('../images/icon-collapse.png') left center no-repeat;
	cursor: pointer;
	font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
	border-bottom:1px solid #dfdfdf;
	padding: 10px 0px 10px 20px;
	margin-bottom:0px;
}

#faq .faq-menu H4:hover,
#faq .faq-menu H4:focus {
	color: #1a69cb;
	text-decoration: none;
}

#faq .faq-menu .accordion .faq-active {
	background-image: url('../images/icon-expand.png');
}

#faq .faq-details {
	position: relative;
}

#faq .faq-details DT {
	padding-top: 1em;
}

#faq .faq-details DT .question {
	padding-bottom: 1em;
}

#faq .faq-details DD {
	margin-bottom: 3em;
}

#faq .faq-details DT .question,
#faq .faq-details DD {
	display: block;
	margin-left: 2em;
	border-left: 1px solid #d5d5d5;
	padding-left: 1em;
}

#faq .faq-details DT .label,
#faq .faq-details DD .label {
	position: absolute;
	left: 0;
	font-weight: bold;
}

#faq .faq-details DD P:first-of-type {
	margin-top: 0;
}

#faq .faq-details DD P:last-child {
	margin-bottom: 0;
}

#faq .return-to-top {
	font-size: 0.9em;
}

#faq ul {
	margin-top:10px;
}

#faq ul li {
	margin-bottom:0px;
}

h4#header {
	font-size:20px;
}

/* Enter Lottery Popup Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.enter-lottery {
	max-width:298px;
	background-color:#fcfcfc;
	display:block;
	margin:0 auto;
	padding: 20px 10px;
	color:#0e0e0e;
}

.enter-lottery FIELDSET {
	min-width: 100%;
}

.enter-lottery h1 {
	text-transform:uppercase;
	font-size:16px;
	border-bottom:1px solid #dddddd;
	padding-bottom:20px;
	margin-bottom:0;
}

.enter-lottery .showtime {
	border-top:4px solid #f6f6f6;
	display:block;
	padding-top:16px;
	margin-bottom:20px;
}

.enter-lottery ul {
	margin:20px 0;
	list-style:none;
	display:block;
	font-size:12px;
}

.enter-lottery li {
	display:block;
	padding-left: 30px;
	background-image: url(../images/enter-bullet.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	font-weight:bold;
}

.enter-lottery .enter-terms {
	font-size:12px;
}

.enter-lottery .enter-terms a {
	color:#3377cb;
	text-decoration:none;
}

.enter-lottery .enter-terms a:hover {
	color:#1EAEDB;
}

.enter-lottery .dlslot-field-captcha {

}

.blank-page .gc-bubbleDefault {
    top: 255px;
    transform: scale(0.87);
    -webkit-transform: scale(0.87);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    margin-top: 70px !important;
}


.enter-terms label {
	display:inline;
}

.contain-input-enter {
    display: block;
    /* overflow: hidden; */
    background-color: #fff;
    border: 1px solid #dfdfdf;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.enter-lottery label {
	display: inline-block;
    color: #0e0e0e;
    text-transform: uppercase;
    font-size: 12px;
    padding: 9px 20px;
    padding-top: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f8f8f8;
    text-align: center;
    border-right: 1px solid #dfdfdf;
	white-space: nowrap;
	margin-bottom: 0;
}

.enter-lottery select {
	font-size: 12px;
	border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	padding: 0 4px;
}

.enter-lottery input {
    font-size: 12px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	display: inline-block;
}

.enter-now-button {
	display:block;
	text-align:center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    border-top: 1px solid #dfdfdf;
    padding: 10px;
}

/* IE 6 */
* html .enter-now-button {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.contain-input-enter.dlslot-field-dob {
    display: block;
    /* overflow: hidden; */
    background: none;
    border: 0 solid #dfdfdf;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.contain-input-enter.dlslot-field-dob label {
	border-left: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.enter-lottery .contain-input-enter LABEL,
.enter-lottery .contain-input-enter .input {
    vertical-align: middle;
}

.enter-lottery .contain-input-enter .select {
    /*float: right;*/
	width: 78px;
    text-align: center;
}

input.enter-dob-mo {
	border-right: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	/*padding: 19px 0;*/
	height:40px;
	color:#989898;
	font-weight:normal;
	margin-right:4px;
}

input.enter-dob-mo:focus {
    color: #0e0e0e;
	border-right: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

input.enter-dob-day {
    border: 1px solid #dfdfdf;
	/*padding: 19px 0;*/
	height:40px;
    color: #989898;
    font-weight: normal;
    margin-right: 5px;
}

input.enter-dob-yr {
    border: 1px solid #dfdfdf;
	/*padding: 19px 0;*/
	height:40px;
    color: #989898;
    font-weight: normal;
}

input.enter-dob-yr:focus, input.enter-dob-day:focus {
    color: #0e0e0e;
    border: 1px solid #dfdfdf;
}

#dlslot_dob_month, #dlslot_dob_day {
    padding-left: 0;
    padding-right: 0;
    width: 44px;
}

#dlslot_dob_year {
    padding-left: 0;
    padding-right: 0;
    width: 54px;
}

.enter-lottery .dlslot-field-name_first .input {
    width: 180px;
}

.enter-lottery .dlslot-field-name_last .input {
    width: 185px;
}

.enter-lottery .dlslot-field-email .input {
    width: 216px;
}

.enter-lottery .enter-dob-mo, .enter-lottery .enter-dob-day, .enter-lottery .enter-dob-yr {
    width: 50px;
    text-align: center;
    display: inline-block;
}

.enter-lottery .dlslot-field-zip .input {
    width: 236px;
}

.enter-lottery .dlslot-field-country .select {
    width: 100px;
}

::-webkit-input-placeholder,
:-moz-placeholder, /* Firefox 18- */
::-moz-placeholder, /* Firefox 19+ */
:-ms-input-placeholder {
    color: #ccc;
    opacity: 1;
}

/* Regular Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.regular-page {
	display: block;
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 20px;
}

.regular-page h1 {
	color: #0e0e0e;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.regular-page h3 {
	display:block;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	border-top:4px solid #dddddd;
	border-bottom:1px solid #dddddd;
	padding:10px 0;
	background-color:#fcfcfc;
}

.regular-page a {
	color:#2169c2;
	text-decoration:none;	
}

input.formsubmit {
	background-color: #0148a9;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 18px;
    display: inline-block;
	height:inherit;
	line-height:normal;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border:0;
}

input.formsubmit:hover {
	color:#fff;
	background-color:#014096;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.regular-page input {
	font-size: 12px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.regular-page label {
	float:left;
    color: #0e0e0e;
    text-transform: uppercase;
    font-size: 12px;
    padding: 9px 20px;
    padding-top: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f8f8f8;
    text-align: center;
    border-right: 1px solid #dfdfdf;
	white-space: nowrap;
}

.regular-page .dlslot-field {
    /* overflow: hidden; */
    background-color: #fff;
    border: 1px solid #dfdfdf;
    position: relative;
    margin-bottom: 15px;
}

.regular-page fieldset {
	display:inline-block;
}

.clear, .dlslot-field-captcha {
	clear:both;
    margin-top: .6em;
}

.dlslot-field-captcha {
	transform: scale(0.97);
	-webkit-transform: scale(0.97);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

/* Mobile friendly rows for show page lotteries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.lottery-table {
	width:100%;
	font-size:11px;
	margin:0;
}

.lottery-table .lotteries-hd {
	font-size:11px;
}

.lottery-table tr {
	display:table-row !important;
}

.lottery-table td {
	padding: 12px 1px;
}

.lottery-table tr:last-child td {
	border-bottom:0;
	padding-bottom:0;
}

.lottery-table .closed-button {
	width:55px;
	padding: 1px 1px;
	font-size: 80%;
}

.lottery-table .enter-button {
	width:55px;
	padding: 1px 1px;
	font-size: 80%;

}

.lottery-table .upcoming-button {
	width:55px;
	padding: 1px 1px;
	font-size: 80%;

}

.mobile-already-entered {
	display:block;
	margin:15px auto;
	font-size:12px;
	text-align:center;
}

.mobile-already-entered a {
	color: #1463c5;
    text-decoration: none;
}

.green-check {
	color:#27ae60;
}

.closed-red {
	color:#d64860;
}

/* Remove page edit links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post-edit-link {
	display:none;
}

.blueicon {
	color:#d64860;
}


.check-status-last-name {
	width:164px;
}

.check-status-email {
	width: 195px;
}


/* Contact us form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.gform_wrapper {
	width:660px;
	margin:0px auto !important;
}

.name_first label, .name_last label {
	background-color:transparent !important;
	border:0px;
	padding:0px !important;
	font-weight: normal;
    font-size: 10px !important;
}

.name_first input, .ginput_container_email input {
	border:1px solid #dfdfdf;
}

.name_last input {
	border:1px solid #dfdfdf;
}
	
.name_last input:focus, .name_first input:focus, .ginput_container_email input:focus {
	border:1px solid #dfdfdf;
}

.gfield_label {
	margin:0px !important;
	border-left:1px solid #dfdfdf;
	border-top:1px solid #dfdfdf;;
	border-bottom:1px solid #dfdfdf;
	border-right:0px !important;
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle {
	padding-top:0px !important;
}

.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url] {
	padding: 19px 0 !important;
}

.ginput_container_textarea textarea {
	border:1px solid #dfdfdf;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin-top:0px !important;
}

.body .gform_wrapper label.gfield_label+div.ginput_container {
	margin-top:0px !important;
}

.gform_wrapper form {
	overflow:hidden;
}

.gform_wrapper .left_label .gfield_label {
	width:11% !important;
	min-width: 98px;
}

.gform_wrapper .gform_footer.left_label, .gform_wrapper .gform_footer.right_label {
    margin-left: 0px !important;
    width: 100% !important;
    text-align: center !important;
}

.gform_wrapper .left_label div.ginput_complex, .gform_wrapper .right_label div.ginput_complex {
	min-width:85%;
}

.gform_wrapper .left_label input.large, .gform_wrapper .left_label select.large, .gform_wrapper .left_label textarea.large, .gform_wrapper .left_label textarea.medium, .gform_wrapper .left_label textarea.small, .gform_wrapper .right_label input.large, .gform_wrapper .right_label select.large, .gform_wrapper .right_label textarea.large, .gform_wrapper .right_label textarea.medium, .gform_wrapper .right_label textarea.small {
    min-width: 83.5%;
}

.gform_wrapper .left_label input.medium, .gform_wrapper .left_label select.medium, .gform_wrapper .right_label input.medium, .gform_wrapper .right_label select.medium {
	min-width: 40%;
}

.gform_wrapper .left_label .math_large, .gform_wrapper .left_label .math_medium, .gform_wrapper .left_label .math_small, .gform_wrapper .left_label div.charleft, .gform_wrapper .right_label .math_large, .gform_wrapper .right_label .math_medium, .gform_wrapper .right_label .math_small, .gform_wrapper .right_label div.charleft {
	margin-left: 0px !important;
}

/* Winners Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post-59 {
    display: block;
    padding: 20px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    background-color: #fff;
}

.post-59 h1 {
	color:#0e0e0e;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
}

/* Queue-it plugin override
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dlsqi-cookies-required {
	background: #d64860 !important;
	color: #fff !important;
}



/* Styling for mailcheck.js suggestion */

label.mailcheck {
	display: block;
	border: 1px solid #dcc394;
	background-color: #fffabc;
	overflow: hidden;
	color: #96660d;
	text-transform: uppercase;
	font-size: 12px;
	padding: 9px 20px;
	padding-top: 10px;
	text-align: center;
}

a.mailcheck {
	text-transform: none;
}