/**
 * Forms
 */

.dlslot-field {
    /*margin: 1em 0;*/
}

#dlslot_dob_month,
#dlslot_dob_day,
#dlslot_dob_year {
    display: inline-block;
    /*width: 20%;*/
}

.dlslot-field-agree LABEL {
    display: inline;
    margin-left: .6em;
}

.dlslot-bullet-points LI {
    clear: both;
    list-style-type: none;
}

.dlslot-bullet-points LI:before {
    font-family: FontAwesome, sans-serif;
    content: "\f06a";
    margin-right: 0.6em;
    float: left;
    display: block;
}

.dlslot-bullet-points LI SPAN {
    display: block;
    margin-left: 1.8em;
}

/**
 * Payment form
 */

.dlslot-payment-details {
/*    float: left;
    width: 35%;*/
}

.dlslot-payment-form {
/*    float: right;
    width: 56%;*/
    background: #fff;
    border: 5px solid #f2f2f2;
    /*border-radius: 20px;*/
}

.dlslot-payment-form FIELDSET {
    padding: 30px;
}

.dlslot-payment-form .dlslot-field-card INPUT {
    width: 100%;
}

.dlslot-payment-form .dlslot-field-exp,
.dlslot-payment-form .dlslot-field-cvc {
    float: left;
    margin-right: 2em;
}

.dlslot-payment-form .dlslot-field-cvc {
    max-width: 90px;
}

.dlslot-payment-form .buttons {
    margin: 34px 0 0;
    float: right;
}

.dlslot-payment-form .buttons .button {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.dlslot-payment-breakdown {
    width: 100%;
}

.dlslot-payment-breakdown TR TD:last-child,
.dlslot-payment-breakdown TR TH:last-child {
    text-align: right;
}

.dlslot-payment-breakdown THEAD TH:last-child {
    text-align: left;
}

.dlslot-payment-breakdown TD,
.dlslot-payment-breakdown TH {
    padding: 5px 10px;
}

.dlslot-payment-form #card {
    background: url('images/cc-generic-s.png') calc(100% - 10px) 50% no-repeat;
    background-size: 24px 17px;
}

.dlslot-payment-form #card.visa {
    background-image: url('images/cc-visa-s.png');
}

.dlslot-payment-form #card.mastercard {
    background-image: url('images/cc-mc-s.png');
}

.dlslot-payment-form #card.discover {
    background-image: url('images/cc-discover-s.png');
}

.dlslot-payment-form #card.amex {
    background-image: url('images/cc-amex-s.png');
}

/**
 * Notices
 */

.dlsntc-notice {
    display: block;
    padding: 0;
    background-color: #f2f2f2;
    color: #000;
    margin: 1em 0;
}

.dlsntc-notice P {
    border-bottom: 1px solid #fff;
    margin: 0;
    padding: .4em .8em;
}

.dlsntc-error {
    background-color: #FFBABA;
    color: #D8000C;
}

.dlsntc-warn {
    background-color: #FEEFB3;
    color: #9F6000;
}

.dlsntc-info {
    background-color: #BDE5F8;
    color: #00529B;
}

.dlsntc-success {
    background-color: #DFF2BF;
    color: #4F8A10;
}

/**
 * Form Validation
 */

.error {
    color: #D8000C;
}

INPUT.error,
TEXTAREA.error,
SELECT.error {
    border-color: #D8000C;
    margin-bottom: 0;
}

LABEL.error {
    display: block;
    margin-left: 0;
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-size: 0.8em;
}